/*Veriables*/

$font-title: 'Exo', sans-serif;
$font-main: 'Montserrat', sans-serif;

$color-dark: #2f3640;
$color-main: #fbc531;
$color-light: #ffffff;





/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    width: 90%;    
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7; 
    font-family: $font-title;
    color: $color-dark;
}

section {
    padding: 96px 0;
}



/*NAVIGATION*/

.navigation {
    height: 100%;
    position: relative;
    background-image: url('https://i.postimg.cc/632W2fvs/pexels-kaboompics-com-5836.jpg" alt="image');
    background-position: center center;
    background-size: cover;
    color: $color-light;
}

.navi {
    display: flex;
    padding: 20px 0;  
    align-items: center; 
    flex-wrap: wrap; 
}

.navi ul {
    list-style-type: none;
    display: inline-flex;  
    flex: 1; 
    
          
}
.navi ul li {
    text-align: center;
    font-size: 20px;
    padding: 0 36px 0 0;    
}

.name {
    font-size: 25px;
    font-style: italic;
    flex: 2;
    color: $color-main;
}

.splash {
    text-align: center;
    position: relative;
    padding: 100px 0;
}

.title {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 0;
}

.paige-title {
    font-size: 70px;
    margin: 0;
}

.btn {
    display: inline-block;
    min-width: 200px;
    background-color: $color-main;
    padding: 16px 35px;
    margin: 30px 0;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
}